# 텍스트 에디터를 설정하는 파일입니다.

# 반드시 맨 위에 있어야 합니다.
root = true

# 모든 파일의 문자열 인코딩, 줄바꿈 문자와 마지막 줄 삽입을 설정합니다.
[**]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# SH 파일의 정렬 방법을 설정합니다.
[**.sh]
indent_style = tab
